body {
    background: #f2f2f2;
    margin: 0;
    padding: 0;
    font: 16px/1.2 Arial, sans-serif;
}

.container {
    /*max-width: 1200px;
    padding: 0 20px;*/
}

.map-wrapper {
    position: relative;
    margin: 50px;
}

.map {
    
    position: relative;
}

.cell {
    background: no-repeat 50% 50%;
    background-size: 100% 100%;
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    transform: translate3d(-10px, -10px, 0);
}

.cell:before, .cell:after {
    background: no-repeat 0 0;
    background-size: 100% 100%;
    content: '';
    position: absolute;
}

.cell:before {
    width: 100%;
    height: 15px;
    left: 5px;
    top: 100%;
    transform: skewX(30deg);
}

.cell:after {
    width: 10px;
    height: 38px;
    left: 100%;
    top: 9px;
    transform: skewY(60deg);
}

.cell_1 {background-image: url('brick.png');}
.cell_1:before {background-image: url('brick_dark.png');}
.cell_1:after {background-image: url('brick_light.png');}

.cell_2 {background-image: url('box.png');}
.cell_2:before {background-image: url('box_dark.png');}
.cell_2:after {background-image: url('box_light.png');}

.cell_7 {background-image: url('box-target.png');}
.cell_7:before {background-image: url('box-target_dark.png');}
.cell_7:after {background-image: url('box-target_light.png');}


.cell_5 {
    background-image: url('target.png');
    transform: translate3d(0, 0, 0);
}

.cell_3, .cell_8 {
    position: absolute;
    width: 40px;
    height: 40px;
    left: 0;
    top: 0;
    background: url('player.png') no-repeat 0 0;
    background-size: 100% 100%;
    transform: translate3d(0, -10px, 0);
}

.levels {
    margin: 50px;
}

.level {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: top;
    background-color: #fff;
    border: 1px solid #ddd;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    margin-right: 5px;
    cursor: pointer;
}

.level_active {
    border-color: green;
    color: green;
}
